<app-header></app-header>

<section class="banner_area">
    <div class="container">
        <div class="banner_text">
            <h3>Cart</h3>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="cart.html">Cart</a></li>
            </ul>
        </div>
    </div>
</section>

<section class="cart_table_area p_100">
    <div class="container" *ngIf="cart !== null">
        <div class="table-responsive">
            <table class="table" style="text-align: center;">
                <thead>
                    <tr>
                        <th scope="col">Preview</th>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of cart">
                        <td>
                            <img src="{{item.imageString}}" alt="" style="height: 70px;width:70px">
                        </td>
                        <td>{{item.name}}</td>
                        <td>{{item.price}}</td>
                        <td style="text-align: center">
                            <input type="number" placeholder="" style="width: 3em" id="{{item.id}}"
                                name="{{item.quantity}}" value="{{item.quantity}}" (change)="updateQty($event)">
                        </td>
                        <td>{{item.price*item.quantity}}</td>
                        <td><button class="btn btn-danger" (click)="removeItem(item.id)">X</button></td>
                    </tr>
                    <tr>
                        <td colspan="2">

                            <div class="row">
                                <input type="text" class="form-control" placeholder="Discount code" name="discountCode"
                                    [(ngModel)]="discountCode">

                            </div>

                        </td>

                        <td> <button class="btn btn-primary" (click)="findCode();">Apply</button></td>
                        <td></td>
                        <td></td>
                        <td>
                            <button class="btn btn-danger" style="width: 150px" (click)="clearCart();">Delete
                                all</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row cart_total_inner">
            <div class="col-lg-7"></div>
            <div class="col-lg-5">
                <div class="cart_total_text">
                    <div class="cart_head">
                        Cart Total
                    </div>
                    <div class="sub_total">
                        <h5>Discount <span>-{{discount}}%</span></h5>
                    </div>
                    <div class="total">
                        <h4>Total <span>{{this.total}}</span></h4>
                    </div>
                    <div class="cart_footer" style="float: right;">
                        <button class="btn btn-primary" (click)="payment();">Proceed to Checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="cart == null" style="text-align: center;">
        <p>You have no items in your shopping cart, <a routerLink="/">buy now?</a></p>
    </div>
</section>
<div id="pay" style="padding-left:30%;width:70%;padding-bottom:5em;display : none;">
    <label for="name">Receiver name</label>
    <input type="text" id="name" class="form-control" placeholder="Name" [(ngModel)]="name">
    <br>
    <label for="email">Receiver email</label>
    <input type="email" class="form-control" placeholder="Email" [(ngModel)]="email">
    <br>
    <label for="phone">Receiver phone</label>
    <input type="text" class="form-control" placeholder="Phone" [(ngModel)]="phone">
    <br>
    <label for="address">Receive address</label>
    <input id="address" name="address" class="form-control" ngx-google-places-autocomplete [options]='options'
        #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" />
    <br>
    <label for="shipPrice" style="display:none;">Ship Price</label>
    <input type="text" class="form-control" placeholder="Ship Price" id="shipPrice" name="ship"
        [(ngModel)]="ship" [disabled]="true" style="display:none;">
    <div style="text-align:center;padding-top:2em;">
        <button class="btn btn-primary">Payment</button>
    </div>
</div>
<app-subscribe></app-subscribe>
<app-footer></app-footer>




<!-- Modal -->