<!-- modal signin -->


<div class="modal fade" id="signin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="padding-left: 45% ;">LOGIN</h5>
                <button type="button" id="closeSigninModal" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <button style="width: 100%;" class="btn btn-success" (click)="loginWithGoogle();">Login with Google
                    <span class="fa fa-google"></span></button>
                <hr>
                <button style="width: 100%;" class="btn btn-primary">Login with Facebook <span
                        class="fa fa-facebook"></span></button>

                <br>
                <br>
                <div style="text-align: center;">OR</div>
                <br>
                <input type="text" class="form-control" placeholder="Email" [(ngModel)]="email">
                <br>
                <input type="password" class="form-control" placeholder="Password" [(ngModel)]="pwd">
            </div>
            <div class="modal-footer">
                <div style="padding-right: 40%;">
                    <button type="button" class="btn btn-primary" (click)="login();">Login</button>
                </div>
            </div>
        </div>
    </div>
</div>





<!-- end modal sign in -->

<!-- modal signup -->


<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form action="" ngNativeValidate>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div style="text-align: center;padding-left: 45%;">SIGN UP</div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeSignupModal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" placeholder="Full Name" name="fullName"
                        [(ngModel)]="fullName" required>
                    <br>
                    <input type="email" class="form-control" placeholder="Email" name="email" [(ngModel)]="email"
                        required>
                    <br>
                    <input type="password" class="form-control" placeholder="Password" name="pwd" [(ngModel)]="pwd"
                        required>
                    <br>
                    <input type="password" class="form-control" placeholder="Confirm Password" name="confPwd"
                        [(ngModel)]="confPwd" required>
                    <br>
                    <input type="text" class="form-control" placeholder="Phone" name="phone" [(ngModel)]="phone">
                    <br>
                    <input type="date" class="form-control" name="birthDay" [(ngModel)]="birthDay">
                    <br>
                    <input type="text" class="form-control" placeholder="Address" name="address" [(ngModel)]="address"
                        required>
                    <br>
                    <img src="{{imgBase64}}" alt="" style="width: 100px; height: 50px;">
                    <br>
                    <input #imageInput accept="image/*" type="file" (change)="processFile(imageInput)">

                </div>
                <div class="modal-footer">

                    <button type="submit" class="btn btn-primary" (click)="signup();">Sign up</button>
                </div>
            </div>
        </div>
    </form>
</div>





<!-- end modal sign up -->

<header class="main_header_area">
    <div class="top_header_area row m0">
        <div class="container">
            <div class="float-left">
                <a href="tell:+18004567890"><i class="fa fa-phone" aria-hidden="true"></i> + (1800) 456 7890</a>
                <a href="mainto:info@cakebakery.com"><i class="fa fa-envelope-o" aria-hidden="true"></i>
                    info@cakebakery.com</a>
            </div>
            <div class="float-right">
                <ul class="h_social list_style">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
                <ul class="h_search list_style" style="width:600px">
                    <li class="shop_cart" (click)="ridirectToCart();"><button style="border: none;background: none;"><i
                                class="fas fa-shopping-cart">{{cartCount}}</i></button></li>

                    <li *ngIf="currentUser == null"><button style="border: none;background: none;" data-toggle="modal"
                            data-target="#signin" id="toggleSigninModal"><span class="fa fa-sign-in"
                                style="color: #fff;font-size: 1.3em;"></span></button></li>
                    <li *ngIf="currentUser == null"><button style="border: none;background: none;" data-toggle="modal"
                            data-target="#signup"><span class="fa fa-user-plus"
                                style="color: #fff;font-size: 1.3em;"></span></button></li>
                    <li *ngIf="currentUser !== null" style="color:#fff">{{accountName}}</li>
                    <li *ngIf="currentUser !== null"><button style="border: none;background: none;"
                            (click)="logout();"><span class="fa fa-sign-out"
                                style="color: #fff;font-size: 1.3em;"></span></button></li>
                    <li>
                        <div class="search">
                            <div class="form-group has-search">

                                <input type="text" class="form-control" placeholder="Search" matInput
                                    [matAutocomplete]="auto" [formControl]="myControl">
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let product of filterProduct | async " [value]="product.name">
                                        <p (click)="ridirectToDetail(product._id)">{{product.name}}</p>
                                    </mat-option>
                                </mat-autocomplete>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>




    <div class="main_menu_area">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand">
                    <img src="/assets/images/logo.png" alt="" (click)="ridirectToHome();">
                    <img src="/assets/images/logo-2.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="my_toggle_menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="dropdown submenu active">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                aria-haspopup="true" aria-expanded="false" (click)="ridirectToHome();">Home</a>
                            <!-- <ul class="dropdown-menu">
                                <li><a href="index.html">Home 1</a></li>
                                <li><a href="index-2.html">Home 2</a></li>
                                <li><a href="index-3.html">Home 3</a></li>
                                <li><a href="index-4.html">Home 4</a></li>
                                <li><a href="index-5.html">Home 5</a></li>
                            </ul> -->
                        </li>
                        <li><a href="cake.html">Our Cakes</a></li>
                        <li><a href="menu.html">Menu</a></li>
                        <li class="dropdown submenu">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                aria-haspopup="true" aria-expanded="false">About Us</a>
                            <ul class="dropdown-menu">
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="our-team.html">Our Chefs</a></li>
                                <li><a href="testimonials.html">Testimonials</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="navbar-nav justify-content-end">
                        <li class="dropdown submenu">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                aria-haspopup="true" aria-expanded="false">Pages</a>
                            <ul class="dropdown-menu">
                                <li><a href="service.html">Services</a></li>
                                <li class="dropdown submenu">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                        aria-haspopup="true" aria-expanded="false">Gallery</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="portfolio.html">- Gallery Classic</a></li>
                                        <li><a href="portfolio-full-width.html">- Gallery Full width</a></li>
                                    </ul>
                                </li>
                                <li><a href="faq.html">Faq</a></li>
                                <li><a href="what-we-make.html">What we make</a></li>
                                <li><a href="special.html">Special Recipe</a></li>
                                <li><a href="404.html">404 page</a></li>
                                <li><a href="comming-soon.html">Coming Soon page</a></li>
                            </ul>
                        </li>
                        <li class="dropdown submenu">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                aria-haspopup="true" aria-expanded="false">Blog</a>
                            <ul class="dropdown-menu">
                                <li><a href="blog.html">Blog with sidebar</a></li>
                                <li><a href="blog-2column.html">Blog 2 column</a></li>
                                <li><a href="single-blog.html">Blog details</a></li>
                            </ul>
                        </li>
                        <li class="dropdown submenu">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                aria-haspopup="true" aria-expanded="false">Shop</a>
                            <ul class="dropdown-menu">
                                <li><a href="shop.html">Main shop</a></li>
                                <li><a href="product-details.html">Product Details</a></li>
                                <li><a href="cart.html">Cart Page</a></li>
                                <li><a href="checkout.html">Checkout Page</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact Us</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>