

.has-search .form-control {
    padding-left: 2.375rem;
   
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    font-size: 0.5em;
}
#mat-autocomplete-0{
   visibility: visible;
    position: absolute;
    z-index: 999999;
    right: 14em;
    /* float: right; */
    top: 2.7em;
    background: #f7f0f0;
    max-width: 14em;
}


.test #test34{
    visibility: visible;
    position: absolute;
    z-index: 999999;
    right: 14em;
    /* float: right; */
    top: 2.7em;
    background: #f7f0f0;
    max-width: 14em;
}
